<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>


	<head>
		<title>WSU ABET Assessment Database Tool</title>
		<link rel="stylesheet" href="/stylesheets">
		<style>
		    body {
			       background-image: url(https://cse.wright.edu/sites/default/files/Russ.jpg);
			}
			
		</style>
	</head>

	<body>

		<!-- Banner Image & Navigation-->
		<div id="banner">
			<span title="return to Wright State College of Computer Science and Engineering"><a href="http://cecs.wright.edu/"><img src="http://cecs.wright.edu/sites/all/themes/cecs/img/logo3.png"/></a></span>
			 
			<br>
			
		</div>
		<br>
		<div id="ba2">
	 <h3>	
		
		<a class="myButton" href="/"><strong>Home page</strong></a>
		<a class="myButton" href="/importing"><strong>Upload Results</strong></a>
  		<a class="myButton" href="/results"><strong>Generate Report</strong></a>
  		<a class="myButton" href="/query"><strong>Dynamic Query</strong></a>
		<div class="dropdown">

    <!-- trigger button -->
    <button>Data</button>

    <!-- dropdown menu -->
    <ul class="dropdown-menu">
        <li><a href="/sections">Sections</a></li>
        <li><a href="/class_sections">Class Sections</a></li>
        <li><a href="/answers">Answers</a></li>
		<li><a href="/slo_covered_by_kts">SLO covered by KTS</a></li>
		<li><a href="/fulfills">Fulfills</a></li>
		<li><a href="/program_of_studies">Program of Studies</a></li>
		<li><a href="/students">Students</a></li>
		<li><a href="/questions">Questions</a></li>
		<li><a href="/student_learning_outcomes">Students Learning Outcomes</a></li>
		<li><a href="/">Program Educational Objectives</a></li>
		<li><a href="/knowlwedge_topics">Knowledge Topics</a></li>
		<li><a href="/prerequisites">Prerequisites</a></li>
    </ul>
</div>

         </h3>
		 </div>
		 <br>
		 <div id="marilyn">
		<!-- System Description & Overview -->
		<div id="description">
		<p><strong>
		The CSE department is required by ABET accreditation to track student performance in order to asses the health of the program. This tool has been designed as a front end interface to the database which contains the PEO, KT, and SLO for students.<br>
		This tool allows for users to import quiz results, generate ABET Standardized Reports and to perform custom queries on the underlying database.
		</strong></p>
		</div>


	</body>
	</div>
	
</html>