<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<div id="marilyn">

	<head>
		<title>WSU ABET Assessment Database Tool</title>
		<link rel="stylesheet" href="C:\Users\FNU\Desktop\New folder\app\assets\stylesheets.dqt.css">
		<style>
		    body {
			       background-image: url(https://cse.wright.edu/sites/default/files/Russ.jpg);
			}
			h3{
			       background-color: green;
			}
		</style>
	</head>

	<body>

		<!-- Banner Image & Navigation-->
		<div id="banner">
			<span title="return to home page"><a href="http://cecs.wright.edu/"><img src="http://cecs.wright.edu/sites/all/themes/cecs/img/logo3.png"/></a></span>
			 
			<br>
			
		</div>
		<h3>
		<a id="banner_link" href="index.html"><strong>Home page</strong></a>
			<a id="banner_link" href="../app/views/importing/index.html.erb"><strong>Upload Results</strong></a>
  			<a id="banner_link" href="../app/views/results/index.html.erb"><strong>Generate Report</strong></a>
  			<a id="banner_link" href="../app/views/results/index.html.erb"><strong>Dynamic Query</strong></a>
         </h3>
		<!-- System Description & Overview -->
		<div id="description">
		<p><strong>
		The CSE department is required by ABET accreditation to track student performance in order to asses the health of the program. This tool has been designed as a front end interface to the database which contains the PEO, KT, and SLO for students.<br>
		This tool allows for users to import quiz results, generate ABET Standardized Reports and to perform custom queries on the underlying database.
		</strong></p>
		</div>


	</body>
	</div>
</html>
