<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>


	<head>
		<title>WSU ABET Assessment Database Tool</title>
		<link rel="stylesheet" href="/stylesheets">
		<style>
		    body {
			       background-image: url(https://cse.wright.edu/sites/default/files/Russ.jpg);
			}
			
		</style>
	</head>

	<body>

		<!-- Banner Image & Navigation-->
		<div id="banner">
			<span title="return to Wright State College of Computer Science and Engineering"><a href="http://cecs.wright.edu/"><img src="http://cecs.wright.edu/sites/all/themes/cecs/img/logo3.png"/></a></span>
			 
			<br>
			
		</div>
		<br>
		<div id="ba2">
	 <h3>	
		<a href="/"><strong><button>Home page</button></strong></a>
		<a href="/importing"><strong><button>Upload Results</button></strong></a>
  		<a href="/results"><strong><button>Generate Report</button></strong></a>
  		<a href="/query"><strong><button>Dynamic Query</button></strong></a>
         </h3>
		 </div>
		 <br>
		 <div id="marilyn">
		<!-- System Description & Overview -->
		<div id="description">
		<p><strong>
		The CSE department is required by ABET accreditation to track student performance in order to asses the health of the program. This tool has been designed as a front end interface to the database which contains the PEO, KT, and SLO for students.<br>
		This tool allows for users to import quiz results, generate ABET Standardized Reports and to perform custom queries on the underlying database.
		</strong></p>
		</div>


	</body>
	</div>
	
</html>