#banner {
	background: #4b4b4b url(http://cecs.wright.edu/sites/all/themes/cecs/img/wild_oliva.jpg) top left repeat fixed;
	box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,.5);
	color: #bbb;	
}

#banner_link {
	
	padding-left: 7em;
       
}


#marilyn {
    background: #fc0; 
    padding: 20px;
    border-radius: 10px;
}

